.italic {
  font-style: italic;
}

ul {
  margin: 0;
  padding: 0;
}
.border{
  border-top: 1px solid #d4d4d4;
}

body {
  margin: 0;
  padding: 0 20%;
  font-size: 16px;
  min-width: 240px;
  position: relative;
  line-height: 1.6;
  font-family: "RobotoRegular", sans-serif;
  overflow-x: hidden;
}
.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
/*Header*/
.main-header {
  position: relative;
}
.header-menu {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px 0;
}
.header-menu ul {
  list-style-type: none;
}
.header-menu ul li {
  display: inline-block;
}
.header-menu ul li a {
  display: block;
  margin-right: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #960064;
  font-size: 1.5vw; /* 1.5% of viewport width */
}
.header-menu ul li a:hover {
  color: #e6059b;
  transition: all .4s ease;
}

/*Main logo*/
.main-logo img {
  width: 300px;
  height: 300px;
  min-width: 100%;
}
.main-logo img:hover {
  filter: grayscale(50%);
  transition: all .5s ease;
  filter: opacity(.7);
}

/*Section content*/

.content-overview h2 {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.content-overview p {
  text-align: center;
  margin-bottom: 20px;
}
/*top content image*/
.view-image {
  margin-bottom: 20px;
  /* border-bottom: 1px solid #d4d4d4; */
}
.view-image img {
  max-width: 100%;
}

/*text*/
.content-description {
  text-align: center;
  /* border-top: 1px solid #d4d4d4; */
  /* border-bottom: 1px solid #d4d4d4; */
}
.content-description h2 {
  text-transform: uppercase;
  display: inline-block;
}
.content-description p {
  text-align: justify;
}
/* .content-description ul {
  list-style-type: none;
} */
.content-description ul li {
  margin-left: 50px;
  margin-bottom: 10px;
  text-align: justify;
}

/*link-image*/
.items {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.items img {
  max-width: 100%;
  width: 400px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.items iframe {
  max-width: 100%;
  width: 600px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hover_shadow img:hover {
  filter: grayscale(50%);
  transition: all 0.5s ease;
}

/*Footer*/
.main-footer {
  min-height: 150px;
}

.main-footer ul {
  list-style-type: none;
}
.main-footer ul li {
  display: inline-block;
}
.footer-navigation ul li a {
  margin-right: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #960064;
  font-size: 1.5vw; /* 1.5% of viewport width */
}
.main-footer ul li a:hover {
  color: #e6059b;
  transition: all .4s ease;
}
.footer-copyright p {
  margin: 0;
  padding: 0;
  text-align: right;
  color: gray;
  font-size: 1vw;
}
.messengers ul {
  list-style-image: url(../img/messengers.jpg);
  margin-left: 50px;
}





/*Page bouquets */
.items-examples {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 25px;
}
.items-examples img {
  max-width: 100%;
  width: 600px;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.items-examples img:hover {
  filter: grayscale(100%);
  transition: all 0.5s ease;
}
.items-examples p {
  font-size: 20px;
  max-width: 600px;
  margin: 0;
  padding: 0;
}

/* Blog page*/
.blog-header{
  font-size: 50px;
  font-style: italic;
  font-family: 'Lucida Sans';
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px 0;
  color: green;
  font-size: 5vw;
}
.blog-footer-copyright p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: gray;
  font-size: 1vw;
}



/*blog logo*/
.blog-main-logo img {
  width: 450px;
  height: 300px;
  min-width: 100%;
}
.blog-main-logo img:hover {
  filter: grayscale(50%);
  transition: all .5s ease;
  filter: opacity(.7);
}